*.pdb
Sprint_2/csprint2/eyexwebServerv1/eyexwebServerv1/bin/x86/Debug/eyexwebServerv1.exe
Sprint_2/csprint2/eyexwebServerv1/eyexwebServerv1/obj/x86/Debug/eyexwebServerv1.exe
*.exe
Sprint_2/csprint2/eyexwebServerv1/eyexwebServerv1/obj/x86/Debug/eyexwebServerv1.exe